<a href="https://colab.research.google.com/github/quintonmills/HospitalPro/blob/main/Heart_Disease_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import parameters:
  Number of instances: 302
  Number ofo attributes: 14 continuous attributes
Each of the attributes:
  age: Age in years
  sex: Sex(1 = male, 0 = female)
  cp: Chest pain type (Value 1: typical angina, Value 2: atypical agina,
  Value 3: non-aginal pain, Value 4:asymptonmatic)
    trestbps: Resting blood pressure (in mmHg on admission to the hospital)
    chol: Serum Cholestroal in mg/dl
    fbs: fast bloodo sugar > 120 mg/dl (1 = true, 0 = false)
    restecg: Resting electrocardiogrraphic results (0: normal, 1: having ST-T wave abnormality (T wave inversions and/or St elevation or depression of > 0.05mv,2: showing probable or definite ventricular hypertrophy by Estes criteria)thalach: Maximum heart rate achieved exang: exercise iincluded angina (1 = yes, 0 = no) oldpeak: ST depression induced by exercise relative to rest slope: the slope of the peak exercise ST segment (Value 1L=: unsloping, Value 2: flat, Value 3: downsloping0 ca: Number of major vessels 0-3 colored by floursopy thal: 3= normal 6= fixed ldefect, 7 = reversable defect Heart Disease: Diagnosis of heart disease - anagraphic disesase status (Value: 0 <50% diameter narrowing, Value 1:> 50% diameter narrowing) in any major vessel: attributes 59 through 68 are vessels

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd /content/drive/My Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

In [11]:
HDNames= ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','hal','HeartDisease']
Data = pd.read_excel('Ch3.ClevelandData.xlsx', names=HDNames)

In [12]:
print(Data.head(20))
print(Data.info())
summary = Data.describe()
print(summary)

    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0    67    1   4       160   286    0        2      108      1      1.5
1    67    1   4       120   229    0        2      129      1      2.6
2    37    1   3       130   250    0        0      187      0      3.5
3    41    0   2       130   204    0        2      172      0      1.4
4    56    1   2       120   236    0        0      178      0      0.8
5    62    0   4       140   268    0        2      160      0      3.6
6    57    0   4       120   354    0        0      163      1      0.6
7    63    1   4       130   254    0        2      147      0      1.4
8    53    1   4       140   203    1        2      155      1      3.1
9    57    1   4       140   192    0        0      148      0      0.4
10   56    0   2       140   294    0        2      153      0      1.3
11   56    1   3       130   256    1        2      142      1      0.6
12   44    1   2       120   263    0        0      173      0      0.0
13   52    1   3       172   199    1        0      162      0      0.5
14   57    1   3       150   168    0        0      174      0      1.6
15   48    1   2       110   229    0        0      168      0      1.0
16   54    1   4       140   239    0        0      160      0      1.2
17   48    0   3       130   275    0        0      139      0      0.2
18   49    1   2       130   266    0        0      171      0      0.6
19   64    1   1       110   211    0        2      144      1      1.8

    slope ca hal  HeartDisease
0       2  3   3             1
1       2  2   7             1
2       3  0   3             0
3       1  0   3             0
4       1  0   3             0
5       3  2   3             1
6       1  0   3             0
7       2  1   7             1
8       3  0   7             1
9       2  0   6             0
10      2  0   3             0
11      2  1   6             1
12      1  0   7             0
13      1  0   7             0
14      1  0   3             0
15      3  0   7             1
16      1  0   3             0
17      1  0   3             0
18      1  0   3             0
19      2  0   3             0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           302 non-null    int64
 1   sex           302 non-null    int64
 2   cp            302 non-null    int64
 3   trestbps      302 non-null    int64
 4   chol          302 non-null    int64
 5   fbs           302 non-null    int64
 6   restecg       302 non-null    int64
 7   thalach       302 non-null    int64
 8   exang         302 non-null    int64
 9   oldpeak       302 non-null    float64
 10  slope         302 non-null    int64
 11  ca            302 non-null    object
 12  hal           302 non-null    object
 13  HeartDisease  302 non-null    int64
dtypes: float64(1), int64(11), object(2)
memory usage: 33.2+ KB
None
              age         sex          cp    trestbps        chol         fbs  \
count  302.000000  302.000000  302.000000  302.000000  302.000000  302.000000
mean    54.410596    0.678808    3.165563  131.645695  246.738411    0.145695
std      9.040163    0.467709    0.953612   17.612202   51.856829    0.353386
min     29.000000    0.000000    1.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    3.000000  120.000000  211.000000    0.000000
50%     55.500000    1.000000    3.000000  130.000000  241.500000    0.000000
75%     61.000000    1.000000    4.000000  140.000000  275.000000    0.000000
max     77.000000    1.000000    4.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope  \
count  302.000000  302.000000  302.000000  302.000000  302.000000
mean     0.986755  149.605960    0.327815    1.035430    1.596026
std      0.994916   22.912959    0.470196    1.160723    0.611939
min      0.000000   71.000000    0.000000    0.000000    1.000000
25%      0.000000  133.250000    0.000000    0.000000    1.000000
50%      0.500000  153.000000    0.000000    0.800000    2.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000

       HeartDisease
count    302.000000
mean       0.460265
std        0.499246
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [13]:
#Exploratory Analyisis

Pandas dtype: object -> python dtype is string -> usage is text Pandas dtypeL int 64 -> python dtype is float -> usage is floating point numbers

In [14]:
#Removing missing values
import numpy as np

In [15]:
DataNew = Data.replace('?', np.nan)

In [16]:
print(Data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           302 non-null    int64
 1   sex           302 non-null    int64
 2   cp            302 non-null    int64
 3   trestbps      302 non-null    int64
 4   chol          302 non-null    int64
 5   fbs           302 non-null    int64
 6   restecg       302 non-null    int64
 7   thalach       302 non-null    int64
 8   exang         302 non-null    int64
 9   oldpeak       302 non-null    float64
 10  slope         302 non-null    int64
 11  ca            302 non-null    object
 12  hal           302 non-null    object
 13  HeartDisease  302 non-null    int64
dtypes: float64(1), int64(11), object(2)
memory usage: 33.2+ KB
None

In [17]:
print(DataNew.describe())

              age         sex          cp    trestbps        chol         fbs  \
count  302.000000  302.000000  302.000000  302.000000  302.000000  302.000000
mean    54.410596    0.678808    3.165563  131.645695  246.738411    0.145695
std      9.040163    0.467709    0.953612   17.612202   51.856829    0.353386
min     29.000000    0.000000    1.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    3.000000  120.000000  211.000000    0.000000
50%     55.500000    1.000000    3.000000  130.000000  241.500000    0.000000
75%     61.000000    1.000000    4.000000  140.000000  275.000000    0.000000
max     77.000000    1.000000    4.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  302.000000  302.000000  302.000000  302.000000  302.000000  298.000000
mean     0.986755  149.605960    0.327815    1.035430    1.596026    0.674497
std      0.994916   22.912959    0.470196    1.160723    0.611939    0.938202
min      0.000000   71.000000    0.000000    0.000000    1.000000    0.000000
25%      0.000000  133.250000    0.000000    0.000000    1.000000    0.000000
50%      0.500000  153.000000    0.000000    0.800000    2.000000    0.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000    3.000000

              hal  HeartDisease
count  300.000000    302.000000
mean     4.730000      0.460265
std      1.941563      0.499246
min      3.000000      0.000000
25%      3.000000      0.000000
50%      3.000000      0.000000
75%      7.000000      1.000000
max      7.000000      1.000000

In [18]:
print(DataNew.describe())

              age         sex          cp    trestbps        chol         fbs  \
count  302.000000  302.000000  302.000000  302.000000  302.000000  302.000000
mean    54.410596    0.678808    3.165563  131.645695  246.738411    0.145695
std      9.040163    0.467709    0.953612   17.612202   51.856829    0.353386
min     29.000000    0.000000    1.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    3.000000  120.000000  211.000000    0.000000
50%     55.500000    1.000000    3.000000  130.000000  241.500000    0.000000
75%     61.000000    1.000000    4.000000  140.000000  275.000000    0.000000
max     77.000000    1.000000    4.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  302.000000  302.000000  302.000000  302.000000  302.000000  298.000000
mean     0.986755  149.605960    0.327815    1.035430    1.596026    0.674497
std      0.994916   22.912959    0.470196    1.160723    0.611939    0.938202
min      0.000000   71.000000    0.000000    0.000000    1.000000    0.000000
25%      0.000000  133.250000    0.000000    0.000000    1.000000    0.000000
50%      0.500000  153.000000    0.000000    0.800000    2.000000    0.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000    3.000000

              hal  HeartDisease
count  300.000000    302.000000
mean     4.730000      0.460265
std      1.941563      0.499246
min      3.000000      0.000000
25%      3.000000      0.000000
50%      3.000000      0.000000
75%      7.000000      1.000000
max      7.000000      1.000000

In [19]:
print(DataNew.isnull().sum())

age             0
sex             0
cp              0
trestbps        0
chol            0
fbs             0
restecg         0
thalach         0
exang           0
oldpeak         0
slope           0
ca              4
hal             2
HeartDisease    0
dtype: int64

Replace the values with constant values
set the values with other columns' values
Transform the data with functions
Delete rows

In [20]:
DataNew = DataNew.dropna()

In [21]:
print(DataNew.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 300
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           296 non-null    int64
 1   sex           296 non-null    int64
 2   cp            296 non-null    int64
 3   trestbps      296 non-null    int64
 4   chol          296 non-null    int64
 5   fbs           296 non-null    int64
 6   restecg       296 non-null    int64
 7   thalach       296 non-null    int64
 8   exang         296 non-null    int64
 9   oldpeak       296 non-null    float64
 10  slope         296 non-null    int64
 11  ca            296 non-null    float64
 12  hal           296 non-null    float64
 13  HeartDisease  296 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 34.7 KB
None

In [22]:
print(DataNew.isnull().sum())

age             0
sex             0
cp              0
trestbps        0
chol            0
fbs             0
restecg         0
thalach         0
exang           0
oldpeak         0
slope           0
ca              0
hal             0
HeartDisease    0
dtype: int64

x(scaled) = (x-mean)/sd
Mean = 0 standard deviation == 1

Value > mean will have +z score
value < mean will have -z score

In [23]:
inputnames = HDNames
inputnames.pop()

'HeartDisease'